# Google Drive API Configuration
NEXT_PUBLIC_GOOGLE_API_KEY=your_google_api_key_here
NEXT_PUBLIC_GOOGLE_DRIVE_ID=your_shared_drive_id_here
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_GENERAL=your_general_folder_id_here
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_CENTRO=your_centro_folder_id_here
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_LESTE=your_leste_folder_id_here
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_NORTE=your_norte_folder_id_here
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_OESTE=your_oeste_folder_id_here
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_SUL=your_sul_folder_id_here
NEXT_PUBLIC_GOOGLE_DRIVE_SUBFOLDER_ID=your_optional_subfolder_id_here
