# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo

# Sensitive files
.env
credentials.json
*.ntvs*
*.njsproj
*.sln
*.sw?
acervoraizes-3c23c3b48afd.json
chave do cliente 1.json
client_secret_1039942613737-o4fv9v85ct3v8v1rbkevjqhnbshd55ii.apps.googleusercontent.com.json
