.svg-map {
  max-height: 600px;
  height: 100%;
  width: auto;
  display: block;
  margin: 40px 150px 0 40px;
}

.mapa-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.svg-map .regiao path {
  cursor: pointer;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.popup-wrapper {
  position: fixed;
  z-index: 1000;
}